/*IDs*/
#contentWrapper{}
#status{width: 100%; display: block; padding: 10px; }
#home_header{text-align: center}

/*Classes*/
.fb_login_button{background-color: blue; color: white}
.feed{display: none}