/*IDs*/
#contentWrapper{}
#status{width: 100%; display: block; padding: 10px; }
#home_header{text-align: center}
#btFB{}
#btFB:hover{background-color: #286090}
#tabs_row{display: none}
#politicalMap{}
#testWrapper{display: none}
#rightWing{background-color: blue; color: white; float: right}
#leftWing{background-color: red; color: white; float: left}



/*Classes*/
.button{display: inline-block; cursor: pointer; background-color: #337AB7; border-radius: 12px; color: white; font-weight: bold; text-decoration: none;}
.button:hover{background-color: #286090; text-decoration: none; color: white}
.button_xlarge{font-size: 20px; padding: 20px; text-decoration: none;}
.button_normal{font-size: 14px; padding: 14px; text-decoration: none;}

.feed{display: none}
.btFBWrapper{text-align: center}

.ui-icon-loading{display: none!important}

.tab-description{text-align: center; padding: 20px}
.tab-content{background-color: #eee}
.tab-pane{padding: 20px;}
.bubbleWrapper{padding-bottom: 30px}
.bubbleTitle{text-align: center; font-weight: bold; padding-bottom: 10px; padding-top: 30px}

.floatRight{float: right;}
.floatLeft{float: left;}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: #eee;
	color: black;
	font-weight: bold;
}

.formRow{border: #FFF solid 1px; padding: 10px; background-color: #337AB7; color: white; border-radius: 15px;}
.tag{padding: 5px; display: inline-block; border: #FFF solid 1px; font-weight: bold; margin-left: 10px; border-radius: 12px; cursor: pointer;}
.tag:hover{background-color: white; color: #337AB7;}
.rowTitle{text-decoration: none; color: white; font-weight: bold; cursor: pointer;}
.rowTitle:hover{text-decoration: none; color: white;}
.component{}
.componentsWrapper{display: none;}
.component>input{margin-left: 10px}
.componentTitle{width: 50px; text-align: right;}
input.componentValue{color: black}

.filterWrapper{display: inline-block;}

.addAttrWrapper{border-top: #FFF solid 1px; clear: both; text-align: center}
.addAttrWrapper>a{color: greenyellow}