/*IDs*/
#contentWrapper{}
#status{width: 100%; display: block; padding: 10px; }
#home_header{text-align: center}
#btFB{}
#btFB:hover{background-color: #286090}
#tabs_row{display: none}
#politicalMap{}
#testWrapper{display: block}
#rightWing{background-color: blue; color: white; float: right}
#leftWing{background-color: red; color: white; float: left}
#dataInformation{clear: both;}
#friendsSelectWrapper{margin-top: 20px; display: none}


/*Classes*/
.button{display: inline-block; cursor: pointer; background-color: #337AB7; border-radius: 12px; color: white; font-weight: bold; text-decoration: none;}
.button:hover{background-color: #286090; text-decoration: none; color: white}
.button_xlarge{font-size: 20px; padding: 20px; text-decoration: none;}
.button_normal{font-size: 14px; padding: 14px; text-decoration: none;}

.feed{display: none}
.btFBWrapper{text-align: center}

.ui-icon-loading{display: none!important}

.tab-description{text-align: center; padding: 20px}
.tab-content{background-color: #eee}
.tab-pane{padding: 20px;}
.bubbleWrapper{padding-bottom: 30px}
.bubbleTitle{text-align: center; font-weight: bold; padding-bottom: 10px; padding-top: 30px}

.bubble{display: table}

.floatRight{float: right;}
.floatLeft{float: left;}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: #eee;
	color: black;
	font-weight: bold;
}

.formRow{border: #FFF solid 1px; padding: 10px; background-color: #337AB7; color: white; border-radius: 15px;}
.tag{padding: 5px; display: inline-block; border: #FFF solid 1px; font-weight: bold; margin-left: 10px; border-radius: 12px; cursor: pointer;}
.tag:hover{background-color: white; color: #337AB7;}
.rowTitle{text-decoration: none; color: white; font-weight: bold; cursor: pointer;}
.rowTitle:hover{text-decoration: none; color: white;}
.component{}
.componentsWrapper{display: none;}
.component>input{margin-left: 10px}
.componentTitle{width: 50px; text-align: right;}
input.componentValue{color: black}

.filterWrapper{display: inline-block;}

.addAttrWrapper{border-top: #FFF solid 1px; clear: both; text-align: center}
.addAttrWrapper>a{background: white;padding: 5px;cursor: pointer;text-decoration: none;font-weight: bold; border-radius: 12px; margin-top: 5px;}
.dataInformationContent{width: 45%; display: inline-block;text-align: left;}
.dataInformationContent>label{clear: both;}
.leftInformation{float:left}
.rightInformation{margin-left: 9%; text-align: right;}
.statusBar{position: fixed; top:0; left:0; background-color:#337AB7; font-weight:bold}
.point{width: 25px; height: 25px; border-radius: 25px; background-color: black; position: relative; display: block; float: left;}

.bubblePercentage{font-weight: bold; display: table-cell; vertical-align: middle;}
.listWrapper{overflow: auto; height: 20em}

.visible{display: block!important}

.testPercentage{clear: both; width: 100%; display: none}
.rightPercentage{float: left; width: 50%}
.rightPercentage>span.numberPercentage{float: left; font-weight: bold; padding: 5px}
.rightPercentage>.colorWrapper{float:left; width:80%}
.rightPercentage>.colorWrapper>span.colorPercentage{width:50%; background-color: blue; height: 30px; float: left}

.leftPercentage{float: left; width: 50%}
.leftPercentage>span.numberPercentage{float: right; font-weight: bold; padding: 5px}
.leftPercentage>.colorWrapper{float: right; width:80%}
.leftPercentage>.colorWrapper>span.colorPercentage{width:50%; background-color: red; height: 30px; float: right}

.map{padding: 10px}
.stateSelectionWrapper{clear: both;}
.loading>img{width:30px}